<footer>
    <div class="social-info">
        <div class="social-icon">
            <a href="https://www.facebook.com/airbnb/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/airbnb"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/airbnbsofindia/?hl=en"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="company-name">
            <h6>&copy 2024 WonderLust, Inc.</h6>
        </div>
        <div class="social-links">
            <a href="/Privacy">Privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>